<h4 class='center'>Loyalty Points: <%= current_user.loyalty_points %></h4>

<h3 class='center'>My Reservations</h3>

<% unless @reservations.empty? %>
	<div class='user-show'>
		<% @reservations.each do |reservation| %>
			<div class='panel center'>
				<p><strong>Restaurant: </strong><%= reservation.restaurant.name %></p>
				<p><strong>Address: </strong><%= reservation.restaurant.address %></p>
				<p><strong>Date: </strong><%= reservation.date.to_date %></p>
				<p><strong>Guests: </strong><%= reservation.guest_count %></p>
				<%= link_to 'Delete Reservation', restaurant_reservation_path(reservation.restaurant.id, reservation.id), method: 'delete', class: 'button tiny' %></p>
			</div>
		<% end %>
	</div>
<% end %>