<% if @patron.errors.any? %>
	<div id='error_explanation'>
		<h3><%= pluralize(@patron.errors.count, 'error') %> prohibited the sign up</h3>

		<ul>
			<% @patron.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>


<div class='new-form'>
	<fieldset>
		<legend>User Sign Up</legend>
		<%= form_for @patron do |f| %>
			<%= f.text_field :email, placeholder: 'email' %>
			<%= f.password_field :password, placeholder: 'password' %>
			<%= f.password_field :password_confirmation, placeholder: 'password_confirmation' %>
			<%= f.submit 'Sign up', class: 'button tiny' %>
		<% end %>
	</fieldset>
</div>

<div class='new-form'>	
	<fieldset>
	<legend>Restaurant Owner Sign Up</legend>
	<%= form_for @owner do |f| %>
		<%= f.text_field :email, placeholder: 'email' %>
		<%= f.password_field :password, placeholder: 'password' %>
		<%= f.password_field :password_confirmation, placeholder: 'password_confirmation' %>
		<%= f.submit 'Sign up', class: 'button tiny' %>
	<% end %>
	</fieldset>
</div>