<% if @restaurant.errors.any? %>
	<div id='error_explanation'>
		<h3><%= pluralize(@restaurant.errors.count, 'error') %> prohibited the restaurant from being saved:</h3>

		<ul>
			<% @restaurant.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>

<div class='new-form'>
	<fieldset>
		<legend>Create a new restaurant</legend>
		<%= form_for @restaurant do |f| %>
			<%= f.text_field :name, placeholder: 'Name' %>
			<%= f.text_field :address, placeholder: 'Address' %>
			<%= f.select :price_range, options_for_select(['$10-$20', '$20-$30','$30-$40','$40+']), prompt: 'Average entree price'  %>
			<%= f.text_area :summary, placeholder: 'Restaurant Description' %>
			<%= f.submit 'Add Restaurant', class: 'button tiny' %>
		<% end %>
	</fieldset>
</div>