<p><%= flash[:alert] %></p>

<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong><%= @restaurant.address%></p>
<p><strong>Price:</strong><%= @restaurant.price_range%></p>
<p><strong>Description:</strong><%= @restaurant.address%></p>

<h2>Reserve a spot!</h2>

<%= form_for [@restaurant, @reservation] do |f| %>

	<%= select_datetime(Time.now, prefix: 'reservation', discard_minute: true, ampm: true) %>
	<%= f.select :guest_count, (2..15) %>
	<%= f.submit 'Reserve!' %>
<% end %>

<h2>Reviews</h2>
<%= form_for [@restaurant, @review] do |f| %>
	<%= f.select :rating, (1..5) %>
	<%= f.text_area :body %>
	<%= f.submit 'Post' %>
<% end %>

<% unless @restaurant.reviews.empty? %>
	<% @restaurant.reviews.each do |review| %>
			<% review.rating.times do %>
				<p>&#9733</p>
				<% end %>
			<%= review.body %></p>
	<% end %>
<% end %>